{% extends "base.html" %}
{% block content %}

{% if recommendations %}
  <h2>Voitas syödä</h2>
  <ul class="list-group">
    {% for recommendation in recommendations %}
      {% include "meals/meal.html" with meal=recommendation section="recommendations" %}
    {% endfor %}
  </ul>
{% else %}
  <p>No recommendations :(</p>
{% endif %}

<hr class="my-4" />

{% if meals %}
  <h2>Mitä ollaa lähiaikoina syöty</h2>
  <ul class="list-group">
    {% for meal in meals %}
      {% include "meals/meal.html" with meal=meal section="meals" %}
    {% endfor %}
  </ul>
{% else %}
  <p>No meals :(</p>
{% endif %}

<hr class="my-4" />

{% if recipes %}
  <h2>Kaikki reseptit</h2>
  <ul class="list-group">
    {% for recipe in recipes %}
      {% include "meals/meal.html" with meal=recipe section="recipes" %}
    {% endfor %}
  </ul>
{% else %}
  <p>No recipes :(</p>
{% endif %}
{% endblock content %}
