{% extends "base.html" %}
{% block content %}

{% if recommendations %}
  <h2>Voitas syödä</h2>
  <ul class="list-group">
    {% for rec in recommendations %}
      <li class="list-group-item">
        <div
          class="recommendation-title"
          style="cursor: pointer;"
          data-toggle="collapse"
          data-target="#recommendation-collapse-{{ forloop.counter0 }}"
          aria-expanded="false"
          aria-controls="recommendation-collapse-{{ forloop.counter0 }}">
          {{rec}}
        </div>

        <div
          class="collapse"
          id="recommendation-collapse-{{ forloop.counter0 }}"
          style="margin-top: 10px;">

          <div class="card card-body">
            <ul class="list-group list-group-flush">
              {% for ing in rec.ingredients.all %}
                <li class="list-group-item">{{ ing }}</li>
              {% endfor %}
            </ul>
          </div>

        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No recommendations :(</p>
{% endif %}

<hr class="my-4" />

{% if meals %}
  <h2>Mitä ollaa lähiaikoina syöty</h2>
  <ul class="list-group">
    {% for meal in meals %}
      <li class="list-group-item">{{meal}}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>No meals :(</p>
{% endif %}

<hr class="my-4" />

{% if recipes %}
  <h2>Kaikki reseptit</h2>
  <ul class="list-group">
    {% for recipe in recipes %}
      <li class="list-group-item">{{recipe}}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>No recipes :(</p>
{% endif %}
{% endblock content %}
